@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ForbiddenAccess>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}
<div><h1 class="text-md-center" >403 error. Access denied</h1></div>
<br />
<div>
    <p class="text-md-center"> We appolodgize for the inconvinient. Tou have no permissions to access this page</p>
</div>
<br />

    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6">

                <img class="masthead" style="background-image: url('../assets/img/MG R.jpg')" src="~/assets/img/MG R.jpg" />

            </div>
        </div>
    </div>